.pam-container {
  text-align: center;
  font-family: Montserrat;
}

.pam-heading {
  font-size: 70px;
  margin: 0.2em 0em;
}

.pam-subheading {
  margin: 1em 0em 0.4em 0em;
}

.pam-text-value {
  margin: 0em 1.6em 0em 0em;
}

.pam-size-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pam-grid-setters {
  display: flex;
}

.pam-grid-setter {
  margin: 0em 0.8em;
}

.pam-grid-btn {
  margin-top: 1em;
}

.pam-pixel-table,
.pam-pixel-table-tr,
.pam-pixel-table-td {
  border: 1px solid black;
}

.pam-pixel-table {
  border-collapse: collapse;
  margin: 0 auto 5em auto;
}

.pam-pixel-table-td {
  height: 20px;
  width: 20px;
}
